/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 78%;
    margin: auto;
}

/* HEADER */
#back-logo {
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    height: 150px;
    background-size: contain;
}

#logo {
    width: 20%;
    margin-top: 7%;
}

h1 {
    font-size: 40px;
}

.grey {
    color: #808080;
}

#author {
    color: #20a9e5;
}

#photo-tim {
    margin-top: 2%;
}

/* MAIN */
.paragraph {
    margin-top: 20px;
}

#list {
    margin-left: 2%;
    margin-top: 3%;
}

/* TABLE */
table {
    border-collapse: collapse;
    margin-top: 2%;
    height: 80%;
}
thead {
    background-color: #20a9e5;
    color: white;
}

tbody {
    background-color: #b1e5f2;
}

#tr3 {
    background-color: white;
}

/* FOOTER */
h4{
    margin-top: 2%;
}

#monitor{
    background-image: url(../img/monitor.jpg);
    width: 29%;
    height: 200px;
    margin-top: 2%;
    color: white;
    font-size: 20px;
}

#graph{
    background-image: url(../img/graph.jpg);
    width: 29%;
    height: 200px;
    margin-top: 2%;
    color: white;
    font-size: 20px;
}